
footer {
  background-color: darken($grey-color-dark, 10%);

  .footer-wrap {
    max-width: 960px;
    margin: 0 auto 0;
    padding: 20px;
    color: #eee;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }

  a {
    color: lighten($brand-color, 40%);
  }

}
