---
layout: default
---

<div class="london2016">

  {% assign event = site.data.london2016 %}

  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#venue">Venue</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#tickets">Tickets</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
      </ul>
    </nav>
  </header>

  <section class="section-light section-hero">
    <div class="wrapper text-center">
      <a href="/"><img src="/assets/images/logo.gif" alt="PubConf" width="320"/></a>
      <div class="slide-in">
        <div>
          <small style="vertical-align:top;font-size:14px;line-height:32px;">at</small>
          <a href="{{ event.partner.url }}" target="_blank">
            <img src="{{ event.partner.imageUrl }}" alt="{{ event.partner.name }}" style="max-height:30px;">
          </a>
        </div>
        <div class="text-muted text-lg">{{ event.date | date: "%B %d, %Y" }}</div>
        <br>
        <!-- <div class="text-center text-lg">
          <a class="button" href="https://www.eventbrite.com/e/pubconf-tickets-19880589378">Get Tickets Now</a>
        </div> -->
      </div>
    </div>
    <a style="display:block;max-width:960px;margin:0 auto;" href="/events/">&lt;&lt; Other Events</a>
  </section>

  <section class="section-decor section-about">
    <div class="wrapper">
      <div class="fade-in text-center text-lg">Rapid-fire Ignite talks from inspirational developers in an intimate atmosphere, PubConf will be a uniquely entertaining and insightful event. <br><br>You won't want to miss it.</div>
    </div>
  </section>

  <section class="section-light section-speakers">
    <div class="wrapper">
      <div class="section-head">
        <h2 id="speakers">Speakers</h2>
        <div class="text-lg">All talks will be Ignite-style (5 minutes, 20 slides, 15 seconds per slide), curated, and presented in a single track.</div>
      </div>

      <ul class="talk-list">
        {% assign speakers = (event.speakers | sort: "name") %}
        {% for speaker in speakers %}
        <li class="talk-item">
          <img src="{{ speaker.imageUrl }}" width="100px" height="100px" alt="{{ speaker.name }}">
          <div class="talk-content">
            <h4>{{ speaker.title }}</h4>
            <h5><a href="{{ speaker.url }}">{{ speaker.name }}</a></h5>
            <div class="talk-desc"><small>{{ speaker.description }}</small></div>
            {% if speaker.presentationUrl %}<div><a href="{{ speaker.presentationUrl }}">Presentation</a></div>{% endif %}
          </div>
        </li>
        {% endfor; %}
      </ul>

    </div>
  </section>

  <section class="section-decor section-subscribe text-center">
    <div class="wrapper">
      <h2 id="subscribe">Don't Miss Out!</h2>
      <div>Subscribe to our mailing list for updates and ticket releases.</div>
      <!-- Begin MailChimp Signup Form -->
      <form style="margin-top:20px" action="https://pubconf.us11.list-manage.com/subscribe/post?u=33d7399517a3ee3a5e9b679f7&amp;id=05e06dc18c" method="post" target="_blank">
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_33d7399517a3ee3a5e9b679f7_05e06dc18c" tabindex="-1" value=""></div>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
      <!--End mc_embed_signup-->
    </div>
  </section>

  <section class="section-light section-venue text-center">
    <div class="wrapper">
      <div class="section-head">
        <h2 id="venue">Venue</h2>
        <div class="text-lg">Set in a historic warehouse on the north bank of the Thames, The Pepys is a hidden gem in the heart of the City.</div>
      </div>
      <div class="venue-image">
        <img src="/assets/images/thepepys.jpg" alt="The Pepys" width="360px" height="360px">
      </div>
      <div class="venue-address">
        The Pepys<br>
        Stew Lane<br>
        Off Upper Thames Street<br>
        London EC4V 3PT<br>
        <a href="https://www.google.co.uk/maps?f=q&source=s_q&hl=en&geocode&q=The+Samuel+Pepys&sll=51.510408,-0.096259&sspn=0.005716,0.004393&vpsrc=6&ie=UTF8&t=m&z=17&iwloc=A&cid=1223154438194395697">Google Map</a>
      </div>
    </div>
  </section>

  <section class="section-decor">
    <div class="wrapper text-center text-lg">
      Building the developer community<br>
      one beverage at a time.
    </div>
  </section>

  <section class="section-light section-schedule">
    <div class="wrapper">
      <div class="section-head">
        <h2 id="schedule">Schedule</h2>
        <div class="text-lg">PubConf's program will be very open, with plenty of time for discussion and socializing. Have a drink and meet chat about something new.</div>
      </div>
      <div class="text-lg schedule-wrap">
        <div>
          <div class="pull-left">16:00</div>
          <strong>Doors open, open bar</strong>
        </div>
        <div>
          <div class="pull-left">17:45</div>
          <strong>Welcome</strong>
        </div>
        <div>
          <div class="pull-left">18:00</div>
          <strong>Ignite Talks</strong>
        </div>
        <div>
          <div class="pull-left">19:00</div>
          <strong>Ignite Talks</strong>
        </div>
        <div>
          <div class="pull-left">20:00</div>
          <strong>Ignite Talks</strong>
        </div>
        <div>
          <div class="pull-left">21:00</div>
          <strong>Ignite: Karaoke</strong>
        </div>
        <div>
          <div class="pull-left">21:30</div>
          <strong>Thanks and Social Hours</strong>
        </div>
        <div>
          <div class="pull-left">23:00</div>
          <strong>Closing Time</strong>
        </div>
      </div>
    </div>
  </section>

  <section class="section-decor">
    <div class="wrapper text-center text-lg">
      Not quite a conferece;<br>
      Not exactly an afterparty;<br>
      Inspirational conversations with amazing developers.
    </div>
  </section>

  <section class="section-light section-tickets">
    <div class="wrapper">
      <div class="section-head">
        <h2 id="tickets">Tickets</h2>
        <div class="text-lg">Thanks to the generosity of our <a href="#sponsors">Sponsors</a>, PubConf is <strong>free</strong>! That's right, free as in beer. Space is limited, and we'll be releasing tickets in batches.</div>
      </div>

      <ul class="ticket-list">
        <li class="ticket-item">
          <h3 class="text-center">This event is in the past.</h3>
        </li>
        <!-- <li class="ticket-item">
          <div class="pull-right text-muted ticket-release"><strong>Available Now</strong></div>
          <h3>General Tickets</h3>
          <div>The final batch of tickets will be released at the Start of the NDC Conference on January 5th. Links will be available here, <a href="https://twitter.com/pubconf">twitter</a>, and the <a href="#subscribe">mailing list</a>.</div>
          <div class="text-center text-lg" style="margin: 20px;">
            <a class="button" href="https://www.eventbrite.com/e/pubconf-tickets-19880589378">Get Tickets Now</a>
          </div>
        </li> -->
      </ul>

      <div class="text-lg text-center">
        All attendees, speakers, and sponsors at PubConf are required to agree and follow the <a href="http://confcodeofconduct.com/">code of conduct</a>. We will enforce this code throughout the event.
      </div>

    </div>
  </section>

  <section class="section-dark section-sponsors">
    <div class="wrapper">
      <div class="section-head">
        <h2 id="sponsors">Sponsors</h2>
        <div class="text-lg">PubConf is possible thanks to the generosity and expertise of our Sponsors. Please visit them and find out more about their awesomeness.</div>
      </div>

      <ul class="sponsor-list">
      {% for sponsor in event.sponsors %}
        <li class="sponsor-item">
          <a href="{{ sponsor.url }}" target="_blank">
            <img src="{{ sponsor.imageUrl }}" alt="{{ sponsor.name }}">
          </a>
        </li>
      {% endfor; %}
      </ul>

    </div>
  </section>

  <footer>
    <div class="footer-wrap">
      <p>Special thanks to <a href="https://twitter.com/westleyl">Liam Westley</a> and <a href="https://twitter.com/jakbradf">Jakob Bradford</a>. PubConf is a project by <a href="http://todd.mn/">Todd H Gardner</a>.</p>
      <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">PubConf</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
      <div style="margin-top:20px;"><img src="/assets/images/logo_small_dark.png" alt="PubConf"/></div>
    </div>
  </footer>

</div>
